@model CollectionApp.ViewModels.CreateMyCollectionViewModel
@{
    ViewData["Title"] = "New Collection";
}
<div class="text-center">
    <h1 class="display-4" localize-content>Page for creating a new collection</h1>
</div>
<form class="mb-3" method="post" asp-controller="MyCollections" asp-action="Create" asp-route-userId="@ViewBag.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Name"></label><br/>
        <input class="form-control" asp-for="Name" placeholder="Enter Collection name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Theme"></label><br/>
        <select class="form-select" asp-for="Theme">
            <option selected disabled="disabled">Choose a theme</option>
            <option value="Books">Books</option>
            <option value="Literature">Literature</option>
            <option value="Cars">Cars</option>
            <option value="Superheroes">Superheroes</option>
            <option value="Whiskey">Whiskey</option>
        </select>
        <span asp-validation-for="Theme"></span>
    </div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Summary"></label><br/>
        <textarea class="form-control" asp-for="Summary" placeholder="Describe your Collection"></textarea>
        <span asp-validation-for="Summary"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-dark mt-1" localize-content>Create</button>
    </div>
</form>