@model CollectionApp.Models.MyCollection

@{
    ViewData["Title"] = "Edit Collection";
}

<div class="text-center">
    <h1 class="display-4" localize-content>Collection Edit Page</h1>
</div>

<form class="mb-3" method="post" asp-controller="MyCollections" asp-action="Edit" asp-route-collectionId="@Model.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Name"></label><br/>
        <input class="form-control" asp-for="Name" value="@Model.Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Theme"></label><br/>
        <select class="form-select" asp-for="Theme">
            <option selected>@Model.Theme</option>
            <option value="Books">Books</option>
            <option value="Literature">Literature</option>
            <option value="Cars">Cars</option>
            <option value="Superheroes">Superheroes</option>
            <option value="Whiskey">Whiskey</option>
        </select>
        <span asp-validation-for="Theme"></span>
    </div>
    <div class="mb-3 w-25">
        <label class="form-label" asp-for="Summary"></label><br/>
        <textarea class="form-control" asp-for="Summary">@Model.Summary</textarea>
        <span asp-validation-for="Summary"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-dark mt-1" localize-content>Save changes</button>
    </div>
</form>