@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4" localize-content>Welcome</h1>
    <table class="table table-striped table-hover">
        <caption localize-content>5 biggest collection</caption>
        @foreach (var collection in Model)
        {
            <tr>
                <td class="text-start">
                    <a asp-controller="MyCollections" asp-action="Index" asp-route-collectionId="@collection.Id">@collection.Name</a>
                </td>
                <td class="text-start">
                    @collection.Theme
                </td>
                <td class="text-start">
                    @collection.Summary
                </td>
            </tr>
        }
    </table>
</div>