@model CollectionApp.ViewModels.ItemCreateViewModel

@{
    ViewData["Title"] = "New Item";
}

<div class="text-center">
    <h1 class="display-4" localize-content>Page for create a new Item</h1>
</div>

<form method="post" asp-controller="Items" asp-action="Create" asp-route-collectionId="@ViewBag.Id">
    <div asp-validation-summary="ModelOnly"></div>
    <div>
        <label asp-for="Name"></label><br/>
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
    <div>
        <button type="submit" class="btn btn-outline-primary mt-1" localize-content>Create</button>
    </div>
</form>