@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
 
<h2>List of Roles</h2>
<table class="table">
    @foreach (var role in Model)
    {
        <tr>
            <td>@role.Name</td>
            <td>
                <form asp-action="Delete" asp-route-id="@role.Id" method="post">
                    <button type="submit" class="btn btn-sm btn-outline-danger">
                        Delete
                    </button>
                </form>
            </td>
        </tr>
    }
</table>
<a asp-action="Create" class="btn btn-sm btn-outline-info">Add Role</a>
<a asp-action="UserList" class="btn btn-sm btn-outline-info">List of Users</a>