@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LazZiya.TagHelpers
@{
    var routeData = ViewContext.RouteData.Values;
    routeData["culture"] = "{0}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title localize-content>@ViewData["Title"] - CollectionApp</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CollectionApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
        <div class="container-fluid">
            <a class="navbar-brand" asp-area="" asp-controller="Users" asp-action="Index" localize-content>Users</a>
            <a class="navbar-brand" asp-area="" asp-controller="Roles" asp-action="Index" localize-content>Roles</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-start">
                <ul class="navbar-nav inline-flex-grow-1">
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index" localize-content>Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
                    </li>
                </ul>
            </div>
            <div class="navbar-collapse collapse d-sm-inline-flex justify-content-end">
                <form class="form-inline my-2 my-lg-0" method="get" asp-controller="Search" asp-action="Index" id="searchStr">
                    <input class="form-control mr-sm-2" type="search" localize-att-placeholder="Search" aria-label="Search" name="searchStr"/>
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" localize-content>Search</button>
                </form>
                <div class="form-check form-switch">
                    <button type="button" class="btn btn-outline-default my-2 my-sm-0" id="dark" onclick="themeToggle()">DARK</button>
                </div>
                <div>
                    <language-nav cookie-handler-url="@Url.Action("SetCultureCookie", "Home", new { area = "", cltr = "{0}", returnUrl = "{1}", culture = CultureInfo.CurrentCulture.Name })" redirect-to-url="@(Url.RouteUrl(routeData))">
                    </language-nav>
                </div>
                <partial name="_LoginPartial"/>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Internship Course Project from Itransition - <a asp-area="" asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
<script>
    (function() {
      let onpageLoad = localStorage.getItem("theme") || "";
      let element = document.body;
      element.classList.add(onpageLoad);
      document.getElementById("theme").textContent =
        localStorage.getItem("theme") || "light";
    })();
    
    function themeToggle() {
      let element = document.body;
      element.classList.toggle("dark-mode");
    
      let theme = localStorage.getItem("theme");
      if (theme && theme === "dark-mode") {
        localStorage.setItem("theme", "");
      } else {
        localStorage.setItem("theme", "dark-mode");
      }
    
      document.getElementById("theme").textContent = localStorage.getItem("theme");
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>