@using System.Globalization
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using LazZiya.TagHelpers
@using Microsoft.AspNetCore.Identity
@inject SignInManager<User> SignInManager
@inject UserManager<User> UserManager
@{
    var routeData = ViewContext.RouteData.Values;
    routeData["culture"] = "{0}";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title localize-content>@ViewData["Title"] - CollectionApp</title>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha2/js/bootstrap.bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/CollectionApp.styles.css" asp-append-version="true"/>
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-light fixed-top">
        <div class="container-fluid">
            <a class="navbar" aria-current="page" asp-controller="Home" asp-action="Index" localize-content>Home</a>
            <form class="d-flex w-50 align-content-center" method="get" asp-controller="Search" asp-action="Index" id="searchStr">
                <input class="form-control me-2" type="search" localize-att-placeholder="Search" aria-label="Search" name="searchStr"/>
                <button class="btn" type="submit" localize-content id="btn-search">Search</button>
            </form>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Course Project by U.Niamira</h5>
                    <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        <li class="nav-item">
                            <language-nav class="btn btn-lg" cookie-handler-url="@Url.Action("SetCultureCookie", "Home", new { area = "", cltr = "{0}", returnUrl = "{1}", culture = CultureInfo.CurrentCulture.Name })" redirect-to-url="@(Url.RouteUrl(routeData))">
                            </language-nav>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Index" localize-content>Home</a>
                        </li>
                        @if (SignInManager.IsSignedIn(User) && User.IsInRole("Admin"))
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" href="#" id="offcanvasNavbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    Admin Dashboard
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="offcanvasNavbarDropdown">
                                    <li>
                                        <a class="dropdown-item" asp-controller="Users" asp-action="Index" localize-content>Users</a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Roles" asp-action="Index" localize-content>Roles</a>
                                    </li>
                                </ul>
                            </li>
                        }
                        <partial name="_LoginPartial"/>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
                        </li>
    
                    </ul>
                </div>
                <div class="form-check form-switch d-sm-inline-flex justify-content-center">
                    <button type="button" class="btn btn-outline-default p-1" id="dark" onclick="themeToggle()">Color theme</button>
                    @* <input type="checkbox" class="form-check-input" id="dark" onclick="themeToggle()"/> *@
                    @* <label for="dark" class="form-check-label" localize-content>Dark Mode</label> *@
                </div>
            </div>
        </div>
    </nav>
</header>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2022 - Internship Course Project from Itransition - <a asp-area="" asp-controller="Home" asp-action="Privacy" localize-content>Privacy</a>
    </div>
</footer>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script>
    (function() {
      let onpageLoad = localStorage.getItem("theme") || "";
      let element = document.body;
      element.classList.add(onpageLoad);
      document.getElementById("theme").textContent =
        localStorage.getItem("theme") || "light";
    })();
    
    function themeToggle() {
      let element = document.body;
      element.classList.toggle("dark-mode");
      let check = document.querySelector('input[type=checkbox]');
    
      let theme = localStorage.getItem("theme");
      if (theme && theme === "dark-mode") {
        localStorage.setItem("theme", "");
      } else {
        localStorage.setItem("theme", "dark-mode");
      }
    
      document.getElementById("theme").textContent = localStorage.getItem("theme");
    }
</script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>